.container {

  margin: 3rem auto;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.screen {
  width: 21.5rem;
  padding: 0 1rem;
  background-color: #f1f0f0;
  border-radius: 0.5rem;
  font-size: 3rem;
}

.counts {
  color: black;
}

.result {
  color: red;
  display: flex;
  justify-content: end;
}