.container {
  display: inline-block;
  margin: 3rem auto;
  padding: 0.5rem;
  border: 2px solid grey;
  border-radius: 0.5rem;
  background-color: #ebebeb;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.screen {
  width: 21.5rem;
  padding: 0 1rem;
  background-color: #ffffff;
  border: 2px solid grey;
  border-radius: 0.5rem;
  font-size: 3rem;
}

.counts {
  color: black;
}

.result {
  color: red;
  display: flex;
  justify-content: flex-end;
}

.keyboard {
  display: flex;
}