.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: #c9c8c8;
  border: 2px solid grey;
  border-radius: 0.5rem;
  font-size: 3rem;
  position: relative;
  transition: all 0.2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  &:active {
    transform: translateY(2px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
}

.equals {
  background-color: rgb(249, 233, 9);
}