.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
  height: 5rem;
  background-color: #c9c8c8;
  border: 2px solid grey;
  border-radius: 0.5rem;
  font-size: 3rem;
}

.equals {
  background-color: rgb(249, 233, 9);
}