.btnBlock {
  display: flex;
  flex-wrap: wrap;
  width: 21.5rem;
  gap: 0.5rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: #c9c8c8;
  border-radius: 0.5rem;
  font-size: 3rem;
}